*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.chooseContainer{
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    background: #68038d;
    cursor: pointer;
    padding: 5px 200px;
}
.adminChoose{
    background: #bcb9b9;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 200px;
    /* row-gap: -30px; */
    margin-right: 50px;
}
.adminChoose:hover{
    background: #fff;
}
.adminChoose h1{
    font-family: cursive;

}
.adminChoose p{
    font-family: cursive;
    letter-spacing: .6px;
    font-weight: 500;
}
